# Configure IPv4 services
# Telnet
/ip service set telnet {% if mikrotik_management['telnet']['available_from_addresses'] is defined and mikrotik_management['telnet']['available_from_addresses'] != "" %} address="{{ mikrotik_management['telnet']['available_from_addresses'] | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['telnet']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['telnet']['port'] | default(23) }}"

# FTP
/ip service set ftp {% if mikrotik_management['ftp']['available_from_addresses'] is defined and mikrotik_management['ftp']['available_from_addresses'] != "" %} address="{{ mikrotik_management['ftp']['available_from_addresses'] | default([]) | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['ftp']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['ftp']['port'] | default(21) }}"

# WWW
/ip service set www {% if mikrotik_management['www']['available_from_addresses'] is defined and mikrotik_management['www']['available_from_addresses'] != "" %} address="{{ mikrotik_management['www']['available_from_addresses'] | default([]) | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['www']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['www']['port'] | default(80) }}"

# SSH
/ip service set ssh {% if mikrotik_management['ssh']['available_from_addresses'] is defined and mikrotik_management['ssh']['available_from_addresses'] != "" %} address="{{ mikrotik_management['ssh']['available_from_addresses'] | default([]) | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['ssh']['disabled'] | default(false) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['ssh']['port'] | default(22) }}"

# WWW-SSL
/ip service set www-ssl {% if mikrotik_management['www-ssl']['certificate'] is defined and mikrotik_management['www-ssl']['certificate'] != "" %} certificate="{{ mikrotik_management['www-ssl']['certificate'] }}" {% endif %} \
  {% if mikrotik_management['www-ssl']['available_from_addresses'] is defined and mikrotik_management['www-ssl']['available_from_addresses'] != "" %} address="{{ mikrotik_management['www-ssl']['available_from_addresses'] | default([]) | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['www-ssl']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['www-ssl']['port'] | default(443) }}"

# API
/ip service set api {% if mikrotik_management['api']['available_from_addresses'] is defined and mikrotik_management['api']['available_from_addresses'] != "" %} address="{{ mikrotik_management['api']['available_from_addresses'] | default([]) | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['api']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['api']['port'] | default(8728) }}"

# Winbox
/ip service set winbox {% if mikrotik_management['winbox']['available_from_addresses'] is defined and mikrotik_management['winbox']['available_from_addresses'] != "" %} address="{{ mikrotik_management['winbox']['available_from_addresses'] | default([]) | join(',') }}" {% endif %}\
  disabled="{{ mikrotik_management['winbox']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['winbox']['port'] | default(8291) }}"

# API-SSL
/ip service set api-ssl {% if mikrotik_management['api-ssl']['certificate'] is defined and mikrotik_management['api-ssl']['certificate'] != "" %} certificate="{{ mikrotik_management['api-ssl']['certificate'] }}" {% endif %} \
  {% if mikrotik_management['api-ssl']['available_from_addresses'] is defined and mikrotik_management['api-ssl']['available_from_addresses'] != "" %}  address="{{ mikrotik_management['api-ssl']['available_from_addresses'] | default([]) | join(',') }}"  {% endif %}\
  disabled="{{ mikrotik_management['api-ssl']['disabled'] | default(true) | bool | ternary('yes', 'no') }}" \
  port="{{ mikrotik_management['api-ssl']['port'] | default(8729) }}"
