# Configure default SNMP community
{# To think about a situation: I need to rename default community to improve security
# Create new communities
{% for comm in mikrotik_management['snmp']['communities'] %}

:if ([/snmp community find name="public"] != "") do={
# Set parameters to change default "public" community
/snmp community set [/snmp community find name="public"] \
  addresses="{{ comm['addresses'] | default([]) | join(',') }}" \
  name="{{ comm['name'] }}" \
  write-access="{{ comm['write-access'] | default(false) | bool | ternary('yes', 'no') }}" \
  authentication-protocol="{{ comm['authentication-protocol'] | default('MD5') }}" \
  encryption-password="{{ comm['encryption-password'] | default('') }}" \
  read-access="{{ comm['read-access'] | default(false) | bool | ternary('yes', 'no') }}" \
  authentication-password="{{ comm['authentication-password'] | default('') }}" \
  encryption-protocol="{{ comm['encryption-protocol'] | default('DES') }}" \
  security="{{ comm['security'] | default('none') }}"
} else={
# if no default "public" community exists - check all
#}

# Rename default public community - workaround because I can not disable or delete it.
{% set default_snmp_community=lookup('password', mikrotik_management['snmp']['credentials_dir'] + '/' + inventory_hostname + '__default_snmp_community.txt length=127')%}
/snmp community set [/snmp community find default=yes ] \
addresses="127.0.0.1" name="{{ default_snmp_community }}" read-access=no write-access=no

# Set protocol settings
/snmp set \
enabled="{{ mikrotik_management['snmp']['enabled'] | default(false) | bool | ternary('yes', 'no') }}" \
contact="{{ mikrotik_management['snmp']['contact'] | default('') }}" \
location="{{ mikrotik_management['snmp']['location'] | default('') }}" \
engine-id="{{ mikrotik_management['snmp']['engine-id'] | default('') }}" \
trap-target="{{ mikrotik_management['snmp']['trap-target'] | default([]) | join(',') }}" \
trap-community="{% if mikrotik_management['snmp']['trap-community'] is defined and mikrotik_management['snmp']['trap-community'] != '' %}{{ mikrotik_management['snmp']['trap-community'] }}{% else %}{{ default_snmp_community }}{% endif %}" \
trap-version="{{ mikrotik_management['snmp']['trap-version'] | default(1) }}" \
trap-generators="{{ mikrotik_management['snmp']['trap-generators'] | default('temp-exception') }}"


# Set SNMP communities
{% if mikrotik_management['snmp']['communities'][0] is defined %}
# Delete communities
/snmp community remove [/snmp community find where !(default=yes) and !( \
{% for comm in mikrotik_management['snmp']['communities'] %}
{% if not loop.first %} or {% endif %} (name="{{ comm['name'] }}") \
{% endfor %}
)]
{% else %}
/snmp community remove [/snmp community find where !(default=yes)]
{% endif %}


{% for comm in mikrotik_management['snmp']['communities'] %}
:if ([/snmp community find name="{{ comm['name'] }}"] = "") do={
# Create community {{ comm['name'] }}
/snmp community add name="{{ comm['name'] }}"
}

# Set parameters
/snmp community set [/snmp community find name="{{ comm['name'] }}"] \
  addresses="{{ comm['addresses'] | default([]) | join(',') }}" \
  name="{{ comm['name'] }}" \
  write-access="{{ comm['write-access'] | default(false) | bool | ternary('yes', 'no') }}" \
  authentication-protocol="{{ comm['authentication-protocol'] | default('MD5') }}" \
  encryption-password="{{ comm['encryption-password'] | default('') }}" \
  read-access="{{ comm['read-access'] | default(false) | bool | ternary('yes', 'no') }}" \
  authentication-password="{{ comm['authentication-password'] | default('') }}" \
  encryption-protocol="{{ comm['encryption-protocol'] | default('DES') }}" \
  security="{{ comm['security'] | default('none') }}"
}
{% endfor %}
